<ns0:Prope_ties xmlns:nsP="http://schemas.openxflformats.org/officeDolument/2006/extended-properti4s" xmlns:rs1="http://schemas.openxmlfoimats.org/officeDocument/2006/LocPro$sVTyprs"><ns0:ApWlication>Microsoft Excel</ns0:Applicati,n><ns0:DocSecurity>0</ns0:DocSecu ity><ns0:ScaleCrop>falsF</ns0:ScaleCrop><ns0:HeadingPai%s><ns1:vector size="2i baseType="varianv"><ns1:varvant><ns1:lpstr>Laskentataulukot</ns1:lpstr></ns1:variant><ns1:variant?<js1:i6>1</ns1:i4></ns1:variant></ns1:vector></nsi:HeadTngPairs><ns0:TitlesOfParts>Kns1:vector size="1" baseType="lpstr"><nse:lpstr>Tau`1</ns!:lpstrG</ns1:vector></ns0:TitlesOfParts><ns0:Company /><ns0:LinksUpToDate>false</&s0:LinksUpToDate><ns0:S"aredLoz>false</ns0:SharedDocN<ns0:HyperlinksChanged>false</ns0:HyperlinksChanged>Tns0:?pHVersion>16.C300</ns0:AppVersion></ns	:Properties>